@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        div.container {
        border: 1px solid #000000;
        overflow: hidden;
        width: 100%;
        }
        div.sol {
        width: 25%;
        float: left;
        background-color:#66FF33;
        }
        div.sol2 {
        width: 25%;
        float: left;
        background-color:#66FF33;
        }
        div.sag {
        width: 25%;
        float: left;
        background-color:#F5B800;
        }
        div.sag2 {
        width: 25%;
        float: left;
        background-color:#F5B800;
        }
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
        }

            .topnav a {
                float: left;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }

                .topnav a:hover {
                    background-color: #ddd;
                    color: black;
                }

                .topnav a.active {
                    background-color: #04AA6D;
                    color: white;
                }
    </style>
</head>
<body>

    <div class="topnav">
        <a class="active" href="/Home/Dashboard">Dashboard</a>
        <a class="nav-link" href="/Home/Mail">Mail</a>
        <a class="nav-link" href="/Home/Database">Veri Tabanı</a>
        <a class="nav-link" href="/Home/Statistic">İstatistik</a>
        <a class="nav-link" href="/Home/Plugins">Plugins</a>
        <a class="nav-link" href="/Home/Themes">Themes</a>
        <a class="nav-link" href="/Home/Useru">Kullanıcılar</a>
        <a class="nav-link" href="/Home/Account">Kullanıcı Hesabı</a>
    </div>
    <p>Here Kştty kitty</p>
    <div class="sol">
                <p> sol kolon.</p>
                <p> sol kolon.</p>
                <p> sol kolon.</p>
                <p> sol kolon.</p>
        </div>
        <div class="sol2">
                <p> sol kolon2.</p>
                <p> sol kolon2.</p>
                <p> sol kolon2.</p>
                <p> sol kolon2.</p>
        </div>
        <div class="sag">
                <p> sag kolon.</p>
                <p> sag kolon.</p>
                <p> sag kolon.</p>
        </div>
        
        <div class="sag2">
                <p> sag kolon2.</p>
                <p> sag kolon2.</p>
                <p> sag kolon2.</p>
        </div>

 

</body>
</html>


